/*
  BRANCH TEST COMMENT
  new branch comment and another changes
  hello hello hello
*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*
  BRANCH TEST COMMENT
  new branch comment and another changes
  changes for amend test
*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
